.sidebar {
  display: none;
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
  color: #00bfff;
}

@media (max-width: 768px) {
  .navbar {
    display: none !important;
  }
  
  .menu-toggle {
    display: block;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background: #001f4d;
    padding: 20px;
    transition: 0.3s;
    z-index: 999;
  }
  
  .sidebar.active {
    right: 0;
  }
}

@media (min-width: 769px) {
  /* إظهار النافبار العادي */
  .navbar {
    display: flex !important;
  }
}
